:root {
    --main-color: #37a560;
    --second-color:#3549a0;
    --nav-bgcolor : #f7f7f7;
    --navhovercolor: #f0f7e6;
    --navcolor: #5a5a5a;
}

body {
    font-family: 'Tajawal', sans-serif;
}

/* start navbars */

.icon {
    color: var(--main-color);
    text-align: center;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    width: 6.5em;
}
.navbar , .nav-item .dropdown-menu {
    background-color: var(--nav-bgcolorcolor);
}
.navbar-light .navbar-nav .nav-link {
    color:var(--navcolor);
    border-radius: 0.5em;
    background-color: var(--nav-bgcolor);
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover  {
    background: linear-gradient(to right ,#249d529d,#35509b73);
}

.nav-link.active {
    background: linear-gradient(to right ,#249d523b,#35509b3a);
}
.nav-item .nav-link {
    text-align: right;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item {
    margin-bottom: .5em;
}
.nav-link {
    margin-right: 0.6em;
}

.nav-item .nav-link {
    padding-right: 1em;
}
.navbar-nav {
    padding-right: 0;
}
/* end navbars */

/* start hero section */

button .slid-rgt {
    color: #000;
    background-color: #eee;
    padding: 0.2em 0.3em;
    background-color: #eee;
    font-size: 1.2em;
    opacity: 1;
}

@media (max-width: 500px) {
    button .slid-rgt {
        font-size: 1em;
    }
}

/* end hero section */